.loading {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,1);
  z-index: 1000;
}

.loading:after {
  content: " ";
  width: 3rem;
  height: 3rem;
  position: absolute;
  border-radius: 50%;
  border:4px solid;
  border-color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-animation: rotate 1.5s ease-in-out infinite;
  -o-animation: rotate 1.5s ease-in-out infinite;
  animation: rotate 1.5s ease-in-out infinite;
}

/* 暂停动画 减少性能消耗*/
.loading.paused:after{
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes rotate {
  0%,100% {
    transform: translate(-50%,-50%) scale(1);
    border-color: #000;
  }
  50% {
    transform: translate(-50%,-50%) scale(0.1);
    border-color: #fff;
  }
}

