<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="cleartype" content="on">
  <link rel="stylesheet" href="/core/libs/reset.min.css?VERSION">
  <link rel="stylesheet" href="styles/index.css?VERSION"></head>
<body>

  <!-- Add your site or application content here -->
  <h1>efes h5 scaffold</h1>
  <h2>
    <a href="https://github.com/edaijia-fe/efes-scaffold-example" target="_blank">Example</a>
  </h2>

  <!-- BEGIN h5 推荐引用js -->
  <script type="text/javascript" src="/core/libs/zepto.min.js?VERSION"></script>
  <script type="text/javascript" src="/core/libs/common-1.0.js?VERSION"></script>
  <!-- <script type="text/javascript" src="/core/libs/jweixin.js?VERSION"></script>
-->
<!-- <script type="text/javascript" src="/core/libs/iscroll.js?VERSION"></script>
-->
<!-- <script type="text/javascript" src="/core/utils/sicilia-dialog/src/dialog.js?VERSION"></script>
-->
<!-- END h5 推荐引用js -->

<!-- BEGIN web 推荐引用js -->
<!--<script type="text/javascript" src="/core/libs/jquery-1.11.3.min.js?VERSION"></script>
<script type="text/javascript" src="/core/libs/common-1.0.js?VERSION"></script>
-->
<!-- END web 推荐引用js -->
<script type="text/javascript" src="scripts/index.js?VERSION"></script>
</body>
</html>